$font-family: 'Caveat';
$bg-color-default: #e4c5ff;
$bg-color-weather: #ffffff;
$bg-color-login: #a947ff;
$login-color: #500493;
$font-size: 22px;
$font-size-unvalid: 16px;
$color-unvalid: #ff0000;
$font-login-title-size: 30px;
$bg_desktop_default: '../images/desktop_background.jpg';
$bg_phone-default: '../images/phone_background.jpg';
$input-color: #ffe8ba;