@import './constants.scss';

.details {
    font-family: $font-family;
    font-size: $font-size;

    &__base {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-transform: uppercase;
    }

    &__city {
        
    }

    &__general {
        display: flex;
        justify-content: space-around;
        margin-top: 30px;
    }

    &__info {
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
    }
}