@import '~bootstrap/scss/bootstrap';
@import './constants.scss';
@import './header.scss';
@import './weather.scss';
@import './login-page.scss';
@import './details-page.scss';

.container {
    
}

a {
    color: inherit;
    text-decoration: none;
}

.home, .details {
    background-image: url($bg_desktop_default);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 150vh;
}