@import './constants.scss';

p {
    margin: 0;
}

.weather {
    font-family: $font-family;

    &__data {
        width: 30vw;
    }

    &__location {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50vw;
        margin: auto;
        font-size: 24px;

        input {
            width: 100%;
            text-align: center;
            border-radius: 30px;
            border: 3px solid $weather-border-color;
            background: none;

            &:focus {
                outline: none;
            }
        }
    }

    &__data {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        background: rgba(255, 255, 255, 0.057);
        padding: 20px;
        width: 30vw;
        border-left: 2px solid $weather-border-color;
        border-right: 2px solid $weather-border-color;
    }

    &__output {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: $font-family;
        font-weight: 600;
        font-size: 1.5em;
        line-height: 20px;

        p:not(:last-of-type) {
            margin-bottom: 10px;
        }
    }

    &__icon {
        width: 50%;

        img {
            width: 100%
        }
    }
}

.empty {
    display: none;
}

.current {
    // position: relative;
    text-align: center;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 20px;
    text-transform: uppercase;

    &::after {
        content: '';
        position: absolute;
        top: 2em;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #000000;
    }
}